{% extends 'base.html' %}
{% load humanize %} 

{% block home %}

<div class="container ex">
    
    <div class="row">
        <div class="col-md-4">
            <img src="{{ details_obj.get_photo_url }}" alt="Profile pic" style="width:200px;height:230px;" >
        </div>
        <div class="col-md-8">
            <h2 style="font-family: Georgia, serif; " class="text-capitalize"> <a  data-toggle="tooltip" data-placement="top" title="{{ details_obj.user_gender }}">{{details_obj.user_name}}</a> <div class="role"> <i class="fa fa-map-marker" style="margin-right: .5em;"></i>{{details_obj.user_state}}</div></h2> 
            <legend class="border-bottom mb-2"></legend>
            <h6 style="color: #187FC2 ;">{{ details_obj.slug }}</h6>
            <p class=" text-muted"> {{ details_obj.user_bio }} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 style="font-family: sans-serif; color: red;"><i class="fa fa-eercast" aria-hidden="true" style="font-size:26px;margin-right:.25em;margin-top: 1.5em;"></i><b>{{details_obj.user_bloodGroup}}</b></h5>
            <h5 style="font-family: sans-serif; color: blue;"><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:26px;margin-right:.25em;margin-top: .5em;"></i>/{{details_obj.user_fbId}}</h5>
                <small>Last seen {{user.last_login | timesince }} ago</small><br>
                <small>Joined {{details_obj.date}}</small>
        </div>
        <div class="col-md-8">
            <legend class="border-bottom mb-4"><i class='fa fa-user-circle' style='font-size:24px;margin-right: .5em;'></i>About</legend>
            <h5 style="font-family: Times New Roman, Times, serif;"><i class="fa fa-address-book" aria-hidden="true" style="font-size:26px;margin-right:.25em;"></i>{{details_obj.user_address}}, {{details_obj.user_zip}}, {{details_obj.user_city}}</h5>
            <h5 style="font-family: Times New Roman, Times, serif; margin-top: 1em;"><i class="fa fa-superpowers" aria-hidden="true" style="font-size:26px;margin-right:.25em;"></i>{{ details_obj.user_school }}<div class="role1"> <i class="fa fa-university" style="margin-right: .25em;"></i>{{details_obj.user_college}}</div> </h5>
            <h5 style="font-family: Times New Roman, Times, serif; margin-top: 1em;"><i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:26px;margin-right:.25em;"></i>{{ details_obj.user_university }}<div class="role1"> <i class="fa fa-book" style="margin-right: .25em;"></i>B.Sc in CSE</div> </h5>
        
        
            <legend class="border-bottom mb-4"></legend>
            <legend>
                <h5 style="font-family: Times New Roman, Times, serif; margin-top: 1em;"><i class="fa fa-envelope" aria-hidden="true" style="font-size:26px;margin-right:.25em;"></i>{{user.email}}<div class="role1"> <i class="fa fa-phone" style="margin-right: .25em;"></i>+88{{details_obj.user_phone}}</div> </h5>
            </legend>

        
        </div>
    </div>
</div>

{% endblock %}